# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.skinet.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Jens\RiderProjects\skinet\.idea\.idea.skinet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
